<script>
  var data = {{{data}}};
  console.log(data);

  $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });
</script>
    
</script>
<div class="page-header">
    <div class="container">
        <div class="col-sm-10">
            <h3>Prices and Inventory</h3>
            <table id="table">
                <thead>
                    <tr>
                        <th data-field='name'>Item Name</th>
                        <th data-field='buyPrice'>Price buy</th>
                        <th data-field='sellPrice'>Price sell</th>
                        <th data-field='amount'>Stock</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>